/* Base Styling */
:root {
    --primary-color: #ff6b00;
    --secondary-color: #ffa366;
    --background-color: #fff5eb;
    --text-color-dark: #2c2c2c;
    --text-color-light: #ffffff;
    --accent-color-1: #1e2a38;
    --accent-color-2: #a8a8a8;
    --highlight: #ffe066;
    --font-family: 'Arial', sans-serif;
    --font-size: 1em;
    --border-radius: 0.25em;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color-dark);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--primary-color);
}

p {
    line-height: 1.6;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Homepage */

#homepage {
    text-align: center;
}

#homepage h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#navbar {
    padding: 1em;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
}

#navbar ul {
    margin: 0 1em;
    color: var(--text-color-light);
    font-weight: bold;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1.25em;
}
